a:link,
a:visited {
  text-decoration: none;
  color: #d7d7d7;
}

li {
  padding: 0 0.5em;
  margin: 0 0.6em;
}

li:hover {
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
  background-color: #333333;
}

.logo {
  margin: 0.6em;
  font-size: 1.5rem;
  color: #d7d7d7;
}

.company {
  margin-left: 0.3em;
}

.menu {
  display: flex;
  list-style: none;
  cursor: pointer;
}
