.footer {
  padding: 2.5em;
  text-align: center;
  background-color: #333333;
  color: #d7d7d7;
}

.talk {
  padding-bottom: 1em;
  user-select: none;
}

.gitIcon {
  font-size: 2rem;
  cursor: pointer;
}

.gitIcon:hover {
  color: red;
  transform: rotate(30deg) scale(1.2);
}

.email {
  cursor: pointer;
}

.email:hover {
  color: white;
}

.copyrights {
  font-size: 0.7rem;
  user-select: none;
}

.upBtn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.upBtn:hover {
  color: white;
}
